.testWrapper {
	display: flex;
	margin: 0 auto;
	align-self: center;
	&__item {
		text-align: center;
	}
	&__title {
		margin-bottom: 20px;
	}
	&__btn {
		border-radius: 20px;
		margin: 0 10px;
		padding: 15px 30px;
	}
}
