// переменные для ширин экранов
$container-width-big: 1200px;
$container-width-desktop: 970px;
$container-width-laptop: 750px;
$container-width-mobile: none;

// переменные для цветов
$bg-main: rgba(69, 122, 245, .2);
$text-color: #457af5;
$text-color-light: rgba(69, 122, 245, .1);
$text-color-dark: rgba(15, 27, 54, 1);
$text-color-subtitle: #424242;
$color-hover: #2980b9;
$text-color-dark-light: rgba(15, 27, 54, .3);