// переменные для ширин экранов
$container-width-big: 1200px;
$container-width-desktop: 970px;
$container-width-laptop: 750px;
$container-width-mobile: none;

// переменные для цветов
$bg-main: #4fd089;