@import '../../UI/variables.scss';
.footer {
	padding: 20px;
	background-color: $color-hover;
	color: #fff;
	display: flex;
	justify-content: space-between;

	a {
		color: #fff;
	}
}
@media (max-width: 600px) {
	.footer {
		flex-direction: column;
		text-align: center;
		div {
			padding-bottom: 1vh;
		}
	}
}
