@import '../../UI/variables.scss';
.homePageWrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2vw;
	&__title {
		span {
			color: $text-color;
			font-size: clamp(3rem, 5vw, 6rem);
			font-weight: 900;
		}
		display: flex;
		align-items: center;
		color: $text-color-dark;
	}
	&__subtitle {
		max-width: 1000px;
		text-align: center;
		margin-top: 2vh;
		font-size: clamp(1.25rem, 1.5vw, 1.3175rem);
		color: $text-color-subtitle;
		line-height: clamp(1.6rem, 3vw, 2.25rem);
		font-weight: 400;
		span {
			color: $text-color;
			font-weight: 900;
			text-transform: uppercase;
		}
	}
	&__img {
		max-width: 55%;
	}
}
@media (max-width: 1065px) {
	.homePageWrapper {
		&__title {
			font-size: 20px;
			span {
				font-size: clamp(2rem, 3vw, 4rem);
				margin-bottom: 1.5vh;
			}
		}
	}
}
@media (max-width: 705px) {
	.homePageWrapper {
		&__title {
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		&__subtitle {
			font-size: clamp(1.2rem, 1.5vw, 1.3175rem);
		}
		&__img {
			max-width: 65%;
		}
	}
}
@media (max-width: 500px) {
	.homePageWrapper {
		&__img {
			max-width: 85%;
		}
	}
}
